.group-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.group-card {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
}

.group-card-content {
    padding: 1rem;
    text-align: center;
    font-size: large;
    font-weight: 800;
}

.username {
    padding: 1rem;
    font-size: medium;
    font-weight: 200;
}

.remove-btn {
    background-color: rgb(240, 33, 33);
}

.remove-btn:hover {
    background-color: rgb(177, 22, 22);
}

.addg-button {
    width: 10rem;
    height: 2rem;
}